* {
	text-align: center;
    font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	background-color: #232323;
	color: white;
}
h1,span {
	font-size: 25px;
	margin-top: 100px;
}
input {
	width: 600px;	
}
button {
	margin-top: 20px;
	padding: 9px;
	border-radius: 9px;	
	color: yellow;
	background-color: black;
	transition-duration: 0.7s;
	border: 0.5px solid grey;
}

button:hover {
	background-color: yellow;
	color: black;
	width: calc(width)
}
input {
	border-radius: 10px;
	height: 70px; 
	margin-top: 20px;
	background-color: coral;
	border: 2.5px solid rgba(139,139,139,1.00);
}
#initCode {
	background-color: rgba(216,92,94,1.00);
}
#finalCode {
	background-color:rgba(51,170,54,1.00);
}